extends: default

rules:
  line-length:
    max: 120  # Allow longer lines for OpenAPI descriptions
  document-start:
    present: false  # Don't require --- at start
  trailing-spaces: enable
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  comments:
    min-spaces-from-content: 1
